* {
  box-sizing: border-box;
}
body {font-family: Verdana, Arial, sans-serif;}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
	margin: auto;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.colleft {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.colright {
  float: left;
  width: 75%;
  margin-top: 6px;
}

form {
	width: 80%;
	margin: auto;
}
#submit {
	text-align: center;
}
